[submodule "hlslib"]
	path = hlslib
	url = https://github.com/definelicht/hlslib.git
[submodule "config"]
	path = config
	url = https://gitlab.com/salehjg/deeppoint-v1-fpga-configs.git
[submodule "argparse"]
	path = argparse
	url = https://github.com/jamolnng/argparse.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
