/Emulation-SW/
/Emulation-HW/
/System/
/data/
/_sdx/
/build/
/doc/Build_Log/
.cproject
.project
.settings
project.sdx
*.str
*.zip
.idea
cmake-build-debug
build*
doxydoc
/doc/FPGA Runs/tmp/
/doc/FPGA Runs/__pycache__/

